.form .form-group {
  margin-bottom: 16px;
}

.form .form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form .form-input {
  display: block;
  width: 100%;
  height: 28px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 0 8px;
  box-sizing: border-box;
}

.form .form-button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-top: 28px;
  cursor: pointer;
}

.oauth-login {
  margin-top: 16px;
  text-align: center;
}

.oauth-login .oauth-login-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 4px;
  margin-top: 16px;
  cursor: pointer;
}

.oauth-login .google-login-button {
  margin-right: 16px;
}
